<%- include('header') %>

    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Welcome to Dashboard Panel</h2>
                <h4>
                    <%= locals.user ? user : 'User' %>
                </h4>
                <a href="/route/logout">
                    Logout
                </a>
            </div>
        </div>
    </div>

    <%- include('footer') %>